<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>{% block title %}PxF{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
  {% block css %}{% endblock %}
</head>

<body>
  <!-- Header -->
  <header>
      <a href="{{ url_for('portada') }}" class="back-link">&#8592; Volver a la portada</a>
      {% block header %}
      <h1>PetxFamily</h1>
      {% endblock %}
  </header>

  <!-- Main -->
  <main>
    {% block content %}{% endblock %}
  </main>

  <!-- Scripts -->
  <script lang="javascript" src="{{ url_for('static', filename='js/listado.js') }}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
