{% extends 'listado/base.html' %}

{% block title %}PxF - Detalle del aviso{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/listado.css') }}" >
{% endblock %}

<!-- Header -->
{% block header %}
<a href="{{ url_for('listado') }}" class="back-link">⟵ Volver al listado</a>
<h1>Detalle del aviso n° {{ aviso.aviso_id }}</h1>
<h2>Fecha de publicación: {{ aviso.fecha_ingreso }}</h2>
{% endblock %}

<!-- Main -->
{% block content %}
<!-- Detalle completo -->
<section id="detalle" class="card">
    <div class="det-grid">
        <div>
          <h4>¿Dónde?</h4>
          <ul>
            <li><strong>Región:</strong> {{ aviso.region }}</li>
            <li><strong>Comuna:</strong> {{ aviso.comuna }}</li>
            <li><strong>Sector:</strong> {{ aviso.sector }}</li>
          </ul>
        </div>
        <div>
          <h4>¿Contacto de esta publicación?</h4>
          <ul>
            <li><strong>Nombre:</strong> {{ aviso.nombre }}</li>
            <li><strong>Email:</strong> {{ aviso.email }}</li>
            <li><strong>Celular:</strong> {{ aviso.celular }}</li>
            <li><strong>Contactar por:</strong>
                <ul>
                    {% for c in aviso.contactar_por %}
                        <li>{{ c.nombre }}: {{ c.identificador }}</li>
                    {% endfor %}
                </ul>
            </li>
          </ul>
        </div>
        <div>
          <h4>¿Qué mascota ofrece en adopción?</h4>
          <ul>
            <li><strong>Tipo:</strong> {{ aviso.tipo }}</li>
            <li><strong>Cantidad:</strong> {{ aviso.cantidad }}</li>
            <li><strong>Edad:</strong> {{ aviso.edad }} {{ aviso.unidad_medida }}</li>
            <li><strong>Fecha de entrega:</strong> {{ aviso.fecha_entrega }}</li>
            <li><strong>Descripción:</strong>
                <p>{{ aviso.descripcion }}</p>
            </li>
          </ul>
        </div>
      </div>

    <!-- Fotos (320x240 px)-->
     <div>
        <h4>Fotos:</h4>
        <div id="detFotos" class="fotos-grid">
            {% for f in aviso.fotos %}
                <img src="../{{ f.src }}" alt="{{ f.alt }}" class="foto-thumb"
                onclick="abrirModal('{{ f.src }}')">
            {% endfor %}
        </div>
     </div>
</section>

 <!-- Modal de imagen (800x600 px) -->
<div id="imgModal" class="modal-backdrop" role="dialog" aria-modal="true" aria-labelledby="imgTitle" style="display:none">
  <div class="modal">
    <div class="modal-head">
      <h5 id="imgTitle">Foto ampliada</h5>
      <button class="btn" id="cerrarModal">Cerrar ✕</button>
    </div>
    <div class="modal-body">
      <img src="" id="imgGrande" alt="Foto ampliada">
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
    <script lang="javascript" src="{{ url_for('static', filename='js/listado.js') }}"></script>
{% endblock %}