{% extends 'listado/base.html' %}

{% block title %}PxF - Listado de avisos{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/listado.css') }}" >
{% endblock %}

<!-- Header -->
{% block header %}
<h1>Listado de Avisos de Adopción</h1>
<h2>Haz clic en cualquier fila para ver el detalle</h2>
{% endblock %}

<!-- Main -->
{% block content %}
    <!-- Listado -->
    <section id="lista" class="card">
      <table id="tabla-avisos" class="table--verticals">
        <caption>Últimos avisos publicados</caption>
        <thead>
          <tr>
            <th>Fecha<br>Publicación</th>
            <th>Fecha<br>Entrega</th>
            <th>Comuna</th>
            <th>Sector</th>
            <th>Cantidad Tipo<br>Edad</th>
            <th>Nombre<br>Contacto</th>
            <th>Total fotos</th>
          </tr>
        </thead>
        <tbody>
          {% if avisos %}
            {% for aviso in avisos %}
              <tr class="clickable"
              data-href="{{ url_for('aviso_detalle', aviso_id=aviso.aviso_id) }}">
                <td>{{ aviso.fecha_ingreso }}</td>
                <td>{{ aviso.fecha_entrega }}</td>
                <td>{{ aviso.comuna }}</td>
                <td>{{ aviso.sector }}</td>
                <td>{{ aviso.cantidad }} {{ aviso.tipo }}<br>{{ aviso.edad }} {{ aviso.unidad_medida }}</td>
                <td>{{ aviso.nombre }}<br>{{ aviso.email }}</td>
                <td>{{ aviso.total_fotos }}</td>
              </tr>
            {% endfor %}
          {% else %}
            <tr><td colspan="7">No hay avisos para mostrar.</td></tr>
          {% endif %}
        </tbody>
      </table>
      <!-- Paginación -->
      <nav class="pager" aria-label="Paginación">
        <a class="btn" aria-disabled="{{ 'true' if not has_prev else 'false' }}"
          href="{{ url_for('listado', pag=pag-1) if has_prev else '#' }}">← Anterior</a>
        <span>Página {{ pag }} de {{ total_paginas }}</span>
        <a class="btn" aria-disabled="{{ 'true' if not has_next else 'false' }}"
          href="{{ url_for('listado', pag=pag+1) if has_next else '#' }}">Siguiente →</a>
      </nav>
    </section>
{% endblock %}

{% block scripts %}
<script>
document.addEventListener('click', (e) => {
  const row = e.target.closest('tr.clickable');
  if (!row) return;
  const href = row.dataset.href;
  if (href) window.location = href;
});
</script>
{% endblock %}
