{% extends 'listado/base.html' %}

{% block title %}PxF-Listado_de_avisos{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/listado.css') }}" >
{% endblock %}

<!-- Header -->
{% block header %}
<h1>Listado de Avisos de Adopción</h1>
<h2></h2>
{% endblock %}

<!-- Main -->
{% block content %}
    <!-- Listado -->
    <section id="lista">
      <table id="tabla-avisos" class="table--verticals">
        <caption>Últimos avisos publicados<br><small><i>Haz clic en cualquier fila para ver el detalle</i></small></caption>
        <thead>
          <tr>
            <th>Fecha<br>Publicación</th>
            <th>Fecha<br>Entrega</th>
            <th>Comuna</th>
            <th>Sector</th>
            <th>Cantidad Tipo<br>Edad</th>
            <th>Nombre<br>Contacto</th>
            <th>Total fotos</th>
          </tr>
        </thead>
        <tbody>
          {% if avisos %}
            {% for aviso in avisos %}
              <tr class="clickable"
              data-href="{{ url_for('aviso_detalle', aviso_id=aviso.aviso_id) }}">
                <td>{{ aviso.fecha_ingreso }}</td>
                <td>{{ aviso.fecha_entrega }}</td>
                <td>{{ aviso.comuna }}</td>
                <td>{{ aviso.sector }}</td>
                <td>{{ aviso.cantidad }} {{ aviso.tipo }}<br>{{ aviso.edad }} {{ aviso.unidad_medida }}</td>
                <td>{{ aviso.nombre }}<br>{{ aviso.email }}</td>
                <td>{{ aviso.total_fotos }}</td>
              </tr>
            {% endfor %}
          {% else %}
            <tr><td colspan="7">No hay avisos para mostrar.</td></tr>
          {% endif %}
        </tbody>
      </table>
      <!-- Paginación -->
      <nav class="pager" aria-label="Paginación" data-base-url="{{ url_for('listado') }}">
        <span>
          <!-- Página anterior -->
          <a class="btn" aria-disabled="{{ 'true' if not has_prev else 'false' }}"
            href="{{ url_for('listado', pag=pag-1) if has_prev else '#' }}">&#8678;</a>
          <!-- Estado actual -->
          <span>Página {{ pag }} de {{ total_paginas }}</span>
          <!-- Página siguiente -->
          <a class="btn" aria-disabled="{{ 'true' if not has_next else 'false' }}"
            href="{{ url_for('listado', pag=pag+1) if has_next else '#' }}">&#8680;</a>
        </span>
        <!-- Ir a la página x -->
        <span>Ir a la página: 
          <input id="input-ir-pagina" type="number" min="1" max="{{ total_paginas }}" value="{{ pag }}" style="width:4rem; text-align:center;">
          <button id="btn-ir-pagina" class="btn texto" type="button">Ir</button>
        </span>
      </nav>
    </section>
{% endblock %}

{% block scripts %}{% endblock %}
