<!-- Portada (página principal) -->
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>PET x FAMILY</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/portada.css') }}">
    </head>

    <!-- Body -->
    <body>
        <!-- Header -->
        <header>
            <div>
                <h1>¡Hola! Bienvenido a PET x FAMILY</h1>
                <h2>Gestionamos la adopción de perritos y gatitos en Chile :3 </h2>
                <!-- navbar -->
                 <nav>
                    <a href="form-adopcion.html" class="btn primary">Agregar nuevo aviso de adopción</a>
                    <a href="listado.html" class="btn primary">Ver listado de adopciones</a>
                    <a href="estadisticas.html" class="btn primary">Estadísticas</a>
                 </nav>
            </div>
        </header>
        <br>
        <!-- listado últimos 5 avisos -->
        <table class="table-home table--verticals">
            <caption>Últimos 5 avisos de adopción agregados</caption>
            <thead>
                <tr>
                    <th>Fecha publicación</th>
                    <th>Comuna</th>
                    <th>Sector</th>
                    <th>Cantidad Tipo<br>Edad</th>
                    <th>Foto</th>
                </tr>
            </thead>
            <tbody>
                {% for aviso in avisos %}
                <tr>
                    <td>{{ aviso.fecha }}</td>
                    <td>{{ aviso.comuna }}</td>
                    <td>{{ aviso.sector }}</td>
                    <td>{{ aviso.cantidad }} {{ aviso.tipo }}<br>{{ aviso.edad }}</td>
                    <td>
                        <img class="pet-foto-list" src="../images/pets/{{ aviso.foto }}" alt="{{ aviso.alt }}">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </body>
</html>